.vs/
*.csproj
*.sln
Library/
obj/
Packages/
Assets/2d-extras-master/
Assets/TextMesh Pro/
Assets/Scripts/OneKnight/.gitignore
Assets/Scripts/OneKnight/LICENSE
Assets/Resources/Prefabs/Enemies/old/
Logs/
